<form method="post" action="{{ path('rentail_delete', {'id': rentail.id}) }}" onsubmit="return confirm('Você realmente quer apagar este item?');" class="float-right">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ rentail.id) }}">
    <button class="btn btn-danger ">Remover</button>
</form>
