{% extends 'layout.html.twig' %}

{% block title %}Devolução Locação{% endblock %}

{% block content %}
    <h1>Devolução</h1>
    <hr/>

    {{ include('rentail/_form.html.twig', {'button_label': 'Devolver Carro'}) }}

    <a href="{{ path('rentail_index') }}">Voltar para listagem</a>

    {# {{ include('rentail/_delete_form.html.twig') }} #}
{% endblock %}
