{% extends 'layout.html.twig' %}

{% block title %}Novo Cliente{% endblock %}

{% block content %}
    <h1>Novo Cliente</h1>

    {{ include('client/_form.html.twig') }}

    <a href="{{ path('client_index') }}">Voltar para Listagem</a>
{% endblock %}
